[Unit]
Description=Create lsb-release file at startup
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/create_lsb-release.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
